# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/

# Ignore learning documentation files
learning_progress.md
learning.md
notes.md
nohup.out
git_cheatsheet.md
notes/